/*
Przeglądarki internetowe nadają znacznikom HTML wartości początkowe,
które się różnią w zależności od producenta (np. Chrome, Firefox, Opera, Internet Explorer, Microsoft Edge).
Dlatego popularną praktyką jest tworzenie tzw. resetów,
czyli plików CSS zawierających reguły, które nadpisują te wartości,
aby były one jednolite niezalenie od przeglądarki.

Więcej na ten temat: https://cssreset.com/what-is-a-css-reset/
*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    background: url('./images/background.svg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}

@media (min-width: 320px) and (max-width: 375px) {
    html, body {
        overflow-x: hidden;
    }

    body {
        position: relative
    }

    .content-section {
        max-width: 100%;
    }
}

@media (min-width: 376px) and (max-width: 599px) {
    html, body {
        overflow-x: hidden;
    }

    body {
        position: relative
    }

    .content-section {
        max-width: 100%;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    html, body {
        overflow-x: hidden;
    }

    body {
        position: relative
    }

    .content-section {
        max-width: 100%;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    html, body {
        overflow-x: hidden;
    }

    body {
        position: relative
    }

    .content-section {
        max-width: 100%;
    }
}

@media (min-width: 1025px) and (max-width: 1440px) {
    html, body {
        overflow-x: hidden;
    }

    body {
        position: relative
    }

    .content-section {
        max-width: 100%;
    }
}

h1, h2, h3 {
    margin: 0;
}

h2 {
    font-size: 15px;
    font-weight: 700;
    color: #EC008C;
    letter-spacing: 3.8px;
}


@media (min-width: 320px) and (max-width: 375px) {
    h2 {
        font-size: .75rem;
    } 
}

@media (min-width: 376px) and (max-width: 699px) {
    h2 {
        font-size: .75rem;
    } 
}

@media (min-width: 600px) and (max-width: 768px) {
    h2 {
        font-size: .75rem;
    }    
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*
ZAGADNIENIE PONADPROGRAMOWE

Rekomendowany zestaw właściwości, które pozwalają na ukrycie tekstu w taki sposób,
że będzie niewidoczny do standardowego użytkownika, a czytniki ekranowe wciąż będą go czytać.

Więcej na ten temat: https://webaim.org/techniques/css/invisiblecontent/
*/
.screen-reader-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/*
Sekcja pomocnicza, aby zwizualizować pozycje głównych bloków strony. Będzie usunięta w następnych krokach.
*/
/* .page-header {
    background-color: #ffb1b1;
}

.page-content {
    background-color: #b0ffb0;
}

.page-footer {
    background-color: #7ba3ff;
}

.content-section {
    background-color: #ca9aca;
}
.content-section:nth-child(odd) {
    background-color: #e69fe6;
} */
/*
Koniec sekcji pomocniczej
*/

/*
Ustawiając sekcje nagłówka i stopki w pozycji 'fixed' sprawiamy,
że niezależnie od pozycji paska przewijania elementy te będą znajdowały się
w tej samej pozycji względem okna przeglądarki.
Natomiast pozycję tę ustawiamy za pomocą parametrów 'top', 'bottom', 'right', 'left'.
*/
.page-header {
    position: fixed;
    top: 50px;
    left: 50px;
}

.page-footer {
    position: fixed;
    bottom: 50px;
    left: 50px;
}

/*media queries - page header*/
@media (min-width: 320px) and (max-width: 375px) {
    .page-header {
        position: static;
        width: 100%;
        margin: 30px auto 30px auto;
    }

    .page-brand {
        width: 160px;
        margin: 0 auto;
    }

    .page-navigation__item {
        text-align: center;
    }

    .page-footer {
        position: static;
    }
}

@media (min-width: 376px) and (max-width: 599px) {
    .page-header {
        position: static;
        width: 100%;
        margin: 30px auto 30px auto;
    }

    .page-brand {
        width: 160px;
        margin: 0 auto;
    }

    .page-navigation__item {
        text-align: center;
    }

    .page-footer {
        position: static;
    } 
}

@media (min-width: 600px) and (max-width: 768px) {
    .page-header {
        position: static;
        min-width: 600px;
        margin: 40px auto 40px auto;
    }

    .page-brand {
        width: 160px;
        margin: 0 auto;
    }

    .page-navigation__items {
        display: flex;
        justify-content: space-around;
    }

    .page-footer {
        position: static;
    } 
}

@media (min-width: 769px) and (max-width: 1024px) {
    .page-brand > img {
        width: 100px;
    }
}


/*
Lewy margines ustawiony na kontenerze z główną zawartością strony sprawia,
że nie będzie ona nachodzić na nagłówek i stopkę niezależnie od pozycji paska przewijania.
Na projekcie graficznym sekcja menu ma szerokość około 170px i jest oddalona od krawędzi ekranu
o 50px, więc można założyć, że 220px marginesu będzie wartością stosunkowo bezpieczną.
Z kolei spady (padding) nadane na kontener wyznaczają minimalną odległość, na jaką będzie oddalona
treść strony od otaczających ją granic kontenera (wartość "0 10%" jest
skrótem od padding-top: 0, padding-bottom: 0, padding-left: 10%, padding-right: 10%).
Właściwość "text-align: right" przykleja zawartość do prawej strony
(oddziałuje na elementy, które są elementami inline'owymi, np. tekst, znaczniki <a>, <span> czy elementy z nadanym stylem "display: inline-block").
*/
.page-content {
    margin-left: 220px;
    padding: 0 10%;
    text-align: right;
}
/*media queries - page content*/
@media (min-width: 320px) and (max-width: 375px) {
    .page-content {
        margin-left: 0;
        padding: 0;
        text-align: center;
    }
}

@media (min-width: 376px) and (max-width: 599px) {
    .page-content {
        margin-left: 0;
        padding: 0;
        text-align: center;
    } 
}

@media (min-width: 600px) and (max-width: 768px) {
    .page-content {
        margin-left: 0;
        padding: 0;
        text-align: center;
    }
}
    


/*
Projekt graficzny zakłada, że każda sekcja strony będzie wypełniać całą wysokość okna przeglądarki
lub więcej, jeśli zawartość danej sekcji jest wyższa. Dlatego świetnym rozwiązaniem
będzie użycie jednostki "vh", która oznacza 1% wysokości okna przeglądarki z właściwością "min-height",
która wymusza wysokość elementu na zadaną wartość lub wyższą.
*/
.content-section {
    min-height: 100vh;
}

.content-section__header {
    text-transform: uppercase;
    margin-bottom: 50px;
}

/*navigation*/
.page-navigation {
    margin-top: 10px;
}

.page-navigation__item {
    text-transform: uppercase;
    line-height: 25px;
}

.page-navigation__item > a:link {
   text-decoration: none;
   font-size: 13px;
   font-weight: 700;
   color: #ef008e;
   letter-spacing: 6.7px;
   opacity: .8;
}

.page-navigation__item > a:visited {
    color: #ef008e;
    opacity: .1;
}

.page-navigation__item > a:hover {
    opacity: 1;

}

.page-navigation__item > a:active {
    font-family: Helvetica, sans-serif;
    letter-spacing: 6.5px;
    opacity: .6;
}

/*media queries - navigation section*/
@media (min-width: 769px) and (max-width: 1024px) {
    .page-navigation__item > a:link {
        font-size: .60rem;
        letter-spacing: .1rem;
    }

    .page-navigation__item > a:visited {
        color: #ef008e;
        opacity: .1;
    }
    
    .page-navigation__item > a:hover {
        opacity: 1;
    
    }
    
    .page-navigation__item > a:active {
        font-family: Helvetica, sans-serif;
        letter-spacing: .60rem;
        opacity: .6;
    }
}

/*band members section*/
.band-members {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1.5px;
}

.band-members__item {
    text-align: left;
    color: #DBD8FB;
    opacity: .5;
}

.band-members__name {
    text-transform: uppercase;
}

.hidden {
    opacity: 0;
}

.band-members__item:hover,
.band-members__item:hover > .band-members__name {
    opacity: 1;
}

.band-members__item:hover > .band-members__desc {
    opacity: .5;
}

/*media queries - band members section*/
@media (min-width: 320px) and (max-width: 375px) {
    .band-members {
        display: block;
        width: auto;
        font-size: .75rem;
    }

    .band-members__item {
        width: 160px;
        margin: 0 auto
    }

    .band-members__image {
        margin-top: 20px;
        width: 160px;
    }
    
    .band-members__item > .band-members__name {
        text-align: center;
        opacity: 1;
    } 
    
    .band-members__item > .band-members__desc {
        text-align: center;
        opacity: .5;
    }
}

@media (min-width: 376px) and (max-width: 599px) {
    .band-members {
        display: block;
        width: auto;
        font-size: .75rem;
    }

    .band-members__item {
        width: 160px;
        margin: 0 auto
    }

    .band-members__image {
        margin-top: 20px;
        width: 160px;
    }
    
    .band-members__item > .band-members__name {
        text-align: center;
        opacity: 1;
    } 
    
    .band-members__item > .band-members__desc {
        text-align: center;
        opacity: .5;
    }
}

@media (min-width: 500px) and (max-width: 599px) {
    .band-members__item {
        width: 200px;
        margin: 0 auto
    }

    .band-members__image {
        margin-top: 20px;
        width: 200px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .band-members {
        display: block;
        width: auto;
        font-size: .75rem;
    }

    .band-members__item {
        width: 250px;
        margin: 0 auto
    }

    .band-members__image {
        margin-top: 20px;
        width: 250px;
    }

    .band-members__item > .band-members__name {
        text-align: center;
        opacity: 1;
    } 
    
    .band-members__item > .band-members__desc {
        text-align: center;
        opacity: .5;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .band-members {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        font-size: .7rem;
        font-weight: 400;
        letter-spacing: 1.5px;
    }

    .band-members__image {
        margin-top: 20px;
        width: 100px;
    }
}

@media (min-width: 1025px) and (max-width: 1200px) {
    .band-members {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        font-size: .7rem;
        font-weight: 400;
        letter-spacing: 1.5px;
    }

    .band-members__image {
        margin-top: 20px;
        width: 190px;
    }
}


/* about section*/
.about {
    position: relative;
}

.about-section__desc {
    position: absolute;
    top: 320px;
    left: -90px;
    width: 380px;
    height: 320px;
    background: #25072E;
    font-size: 13px;
    letter-spacing: 1.5px;
    color: #DBD8FB;
    text-align: justify;
    border-bottom: 3px solid #ef008e;
    z-index: 1;
}

.about-section__desc-header {
    font-size: 15px;
    letter-spacing: 3.8px;
    padding-top: 30px;
    padding-left: 40px;
    text-transform: uppercase;
}

.about-section__desc-details {
    padding: 0 40px 40px;
    opacity: .5;
}

/*media queries - about section*/
@media (min-width: 320px) and (max-width: 375px) {
    #about {
        margin-top: 690px;
    }

    .about {
        position: static;
        display: block;
        width: auto;
    }

    .about-section__band-image {
        width: 300px;
        margin: 0 auto;
    }

    .about-section__desc-header {
        font-size: .75rem;
    }

    .about-section__desc-details {
        font-size: .65rem;
    }

    .about-section__desc {
        position: static;
        display: block;
        margin: 0 auto;
        width: 300px;
        height: 300px;
    }
}

@media (min-width: 376px) and (max-width: 599px) {
    #about {
        margin-top: 690px;
    }

    .about {
        position: static;
        display: block;
        width: auto;
    }

    .about-section__band-image {
        width: 350px;
        margin: 0 auto;
    }

    .about-section__desc-header {
        font-size: .75rem;
    }

    .about-section__desc-details {
        font-size: .65rem;
    }

    .about-section__desc {
        position: static;
        display: block;
        margin: 0 auto;
        width: 350px;
        height: 270px;
    }
}

@media (min-width: 500px) and (max-width: 599px) {
    #about {
        margin-top: 930px;
    }

    .about-section__band-image {
        width: 400px;
        margin: 0 auto;
    }

    .about-section__desc {
        width: 400px;
        height: 270px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    #about {
        margin-top: 1220px;
    }

    .about-section__band-image {
        width: 500px;
        margin: 0 auto;
    }

    .about-section__desc {
        position: static;
        display: block;
        margin: 0 auto;
        width: 500px;
        height: 300px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .about {
        position: relative;
    }

    .about-section__band-image {
        width: 400px;
        margin: 0 auto;
    }

    .about-section__desc-header {
        font-size: .60rem;
    }
    
    .about-section__desc {
        position: absolute;
        top: 160px;
        left: -130px;
        width: 280px;
        height: 220px;
        background: #25072E;
        font-size: .5rem;
        letter-spacing: 1.5px;
        color: #DBD8FB;
        text-align: justify;
        border-bottom: 3px solid #ef008e;
        z-index: 1;
    }
}

@media (min-width: 880px) and (max-width: 1024px) {
    .about-section__desc {
        position: absolute;
        top: 160px;
        left: -130px;
        width: 280px;
        height: 220px;
        background: #25072E;
        font-size: .5rem;
        letter-spacing: 1.5px;
        color: #DBD8FB;
        text-align: justify;
        border-bottom: 3px solid #ef008e;
        z-index: 1;
    }
}

@media (min-width: 940px) and (max-width: 1024px) {
    .about-section__desc {
        position: absolute;
        top: 160px;
        left: -90px;
        width: 280px;
        height: 220px;
        background: #25072E;
        font-size: .5rem;
        letter-spacing: 1.5px;
        color: #DBD8FB;
        text-align: justify;
        border-bottom: 3px solid #ef008e;
        z-index: 1;
    }
}

@media (min-width: 1000px) and (max-width: 1024px) {
    .about-section__desc {
        position: absolute;
        top: 160px;
        left: -40px;
        width: 280px;
        height: 220px;
        background: #25072E;
        font-size: .5rem;
        letter-spacing: 1.5px;
        color: #DBD8FB;
        text-align: justify;
        border-bottom: 3px solid #ef008e;
        z-index: 1;
    }
}

@media (min-width: 1025px) and (max-width: 1150px) {
    .about {
        position: relative;
    }

    .about-section__band-image {
        width: 600px;
        margin: 0 auto;
    }

    .about-section__desc-header {
        font-size: .60rem;
    }
    
    .about-section__desc {
        position: absolute;
        top: 190px;
        left: -130px;
        width: 280px;
        height: 220px;
        background: #25072E;
        font-size: .5rem;
        letter-spacing: 1.5px;
        color: #DBD8FB;
        text-align: justify;
        border-bottom: 3px solid #ef008e;
        z-index: 1;
    }
}

@media (min-width: 1151px) and (max-width: 1280px) {
    .about {
        position: relative;
    }

    .about-section__band-image {
        width: 600px;
        margin: 0 auto;
    }

    .about-section__desc-header {
        font-size: .60rem;
    }
    
    .about-section__desc {
        position: absolute;
        top: 190px;
        left: -70px;
        width: 280px;
        height: 220px;
        background: #25072E;
        font-size: .5rem;
        letter-spacing: 1.5px;
        color: #DBD8FB;
        text-align: justify;
        border-bottom: 3px solid #ef008e;
        z-index: 1;
    }
}

/*concerts section*/
#concerts {
    margin-top: 80px;
}

.concerts {
    display: grid;
    grid-template-columns: repeat(2, minmax(400px, auto));
    grid-template-rows: repeat(2, minmax(400px, auto));
    justify-content: end;
    gap: 0 40px;
}

.concerts__image {
    width: 400px;
    border-bottom: 3px solid #ef008e;
}


.concerts__info {
    position: relative;
    margin-top: 10px;
}

.concerts__date,
.concerts__location {
    margin:0;
    padding:0;
    text-align: left;
    font-size: 13px;
    font-weight: 400;
    color: #DBD8FB;
    letter-spacing: 3.5px;
}

.concerts__location {
    opacity: .5;
}


.concerts__info > .button {
    position: absolute;
    top: 0;
    right: 0;
}

.button {
    background:rgba(204, 200, 255, 0.1);
    color: #DBD8FB;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    padding: 8px 11px;
    border-radius: 3px;
    opacity: .8;
    border: none;
    outline: none;
}

.button:hover {
    background:  rgba(255, 255, 255, 0.2);
}

.button:active {
    background:  rgba(219, 216, 251, 0.2);
    font-family: Helvetica, sans-serif;
    font-size: 12px;
}

.button:focus {
    box-shadow: 0 0 0 1px rgba(255, 255, 255, .8);
}

/*media queries - concerts section*/
@media (min-width: 320px) and (max-width: 375px) {
    #concerts {
        margin-top: 50px;
    }
    .concerts {
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    .concerts__image {
        max-width: 300px;
        margin-bottom: 5px;
    }

    .concerts__date,
    .concerts__location  {
        font-size: .60rem;
    }

    .concerts__info {
        margin-bottom: 15px;
    }

    .button {
        font-size: .60rem;
    }
}

@media (min-width: 376px) and (max-width: 599px) {
    #concerts {
        margin-top: 60px;
    }

    .concerts {
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    .concerts__image {
        max-width: 350px;
        margin-bottom: 5px;
    }

    .concerts__date,
    .concerts__location  {
        font-size: .60rem;
    }

    .concerts__info {
        margin-bottom: 15px;
    }

    .button {
        font-size: .60rem;
    }
}

@media (min-width: 500px) and (max-width: 599px) {
    #concerts {
        margin-top: 60px;
    }

    .concerts__image {
        max-width: 400px;
        margin-bottom: 5px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    #concerts {
        margin-top: 60px;
    }

    .concerts {
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    .concerts__image {
        min-width: 500px;
        margin-bottom: 5px;
    }

    .concerts__date,
    .concerts__location  {
        font-size: .60rem;
    }

    .concerts__info {
        margin-bottom: 15px;
    }

    .button {
        font-size: .60rem;
    }
}

@media (min-width: 769px) and (max-width: 868px) {
    .concerts {
        display: grid;
        grid-template-columns: repeat(2, minmax(240px, auto));
        grid-template-rows: repeat(2, minmax(240px, auto));
        justify-content: end;
    }

    .concerts__image {
        width: 240px;
        border-bottom: 3px solid #ef008e;
    }

    .concerts__date,
    .concerts__location {
        margin:0;
        padding:0;
        text-align: left;
        font-size: .5rem;;
        font-weight: 400;
        color: #DBD8FB;
        letter-spacing: .1rem;
    }

    .button {
        background:rgba(204, 200, 255, 0.1);
        color: #DBD8FB;
        font-size: .5rem;
        font-weight: 600;
        letter-spacing: 1.6px;
        text-transform: uppercase;
        padding: 8px 11px;
        border-radius: 3px;
        opacity: .8;
        border: none;
        outline: none;
    }

}

@media (min-width: 869px) and (max-width: 1024px) {
    .concerts {
        display: grid;
        grid-template-columns: repeat(2, minmax(280px, auto));
        grid-template-rows: repeat(2, minmax(280px, auto));
        justify-content: end;
    }

    .concerts__image {
        width: 280px;
        border-bottom: 3px solid #ef008e;
    }

    .concerts__date,
    .concerts__location {
        margin:0;
        padding:0;
        text-align: left;
        font-size: .7rem;;
        font-weight: 400;
        color: #DBD8FB;
        letter-spacing: .1rem;
    }

    .button {
        background:rgba(204, 200, 255, 0.1);
        color: #DBD8FB;
        font-size: .7rem;
        font-weight: 600;
        letter-spacing: 1.6px;
        text-transform: uppercase;
        padding: 8px 11px;
        border-radius: 3px;
        opacity: .8;
        border: none;
        outline: none;
    }
}

@media (min-width: 1025px) and (max-width: 1200px) {
    .concerts {
        display: grid;
        grid-template-columns: repeat(2, minmax(280px, auto));
        grid-template-rows: repeat(2, minmax(280px, auto));
        justify-content: end;
    }

    .concerts__image {
        width: 280px;
        border-bottom: 3px solid #ef008e;
    }

    .concerts__date,
    .concerts__location {
        margin:0;
        padding:0;
        text-align: left;
        font-size: .7rem;;
        font-weight: 400;
        color: #DBD8FB;
        letter-spacing: .1rem;
    }

    .button {
        background:rgba(204, 200, 255, 0.1);
        color: #DBD8FB;
        font-size: .7rem;
        font-weight: 600;
        letter-spacing: 1.6px;
        text-transform: uppercase;
        padding: 8px 11px;
        border-radius: 3px;
        opacity: .8;
        border: none;
        outline: none;
    }
}

/*video section*/
#video {
    display: flex;
    flex-flow: column; 
    margin-top: 50px;
}


iframe {
    width: auto;
    height: 500px;
    border-top: 3px solid #ef008e;
}

/*media queries - video section*/
@media (min-width: 320px) and (max-width: 375px) {
    #video {
        display: flex;
        flex-flow: column;
        margin-top: 50px;
    }

    .content-section {
        min-height: 50vh;
    }

    #video > iframe {
        margin: 0 auto;
        max-width: 300px;
        height: 200px;
    }
}

@media (min-width: 376px) and (max-width: 599px) {
    #video {
        display: flex;
        flex-flow: column;
        margin-top: 50px;
    }

    .content-section {
        min-height: 50vh;
    }

    #video > iframe {
        margin: 0 auto;
        width: 350px;
        height: 200px;
    }
}

@media (min-width: 500px) and (max-width: 599px) {
    #video {
        display: flex;
        flex-flow: column;
        margin-top: 50px;
    }

    #video > iframe {
        margin: 0 auto;
        width: 400px;
        height: 250px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    #video {
        display: flex;
        flex-flow: column;
        margin-top: 50px;
    }

    .content-section {
        min-height: 50vh;
    }

    #video > iframe {
        margin: 0 auto;
        width: 500px;
        height: 300px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    #video {
        display: flex;
        flex-flow: column;
        justify-items: end;
        margin-top: 50px;
    }

    .content-section {
        min-height: 50vh;
    }
    
    iframe {
        width: auto;
        height: 300px;
        border-top: 3px solid #ef008e;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    #video {
        display: flex;
        flex-flow: column;
        justify-items: end;
        margin-top: 50px;
    }

    .content-section {
        min-height: 70vh;
    }
    
    iframe {
        width: auto;
        height: 300px;
        border-top: 3px solid #ef008e;
    }
}

/*gallery section*/
.gallery {
    display: flex;
    flex-wrap: wrap;
    margin-left: 630px;
}

.gallery__image {
    width: 380px;
    border-top: 3px solid #ef008e;
    margin: 10px;
}

.content-section__header {
    margin-right: 70px;
}

@supports (display: grid) {
    .gallery {
        display: grid;
        grid-template-columns: repeat(3, minmax(300px, 300px));
        justify-content: end;
        margin-left: 20px;
        grid-gap: 10px;
    }
    
    .gallery__image {
        width: 300px;
        border-top: 3px solid #ef008e;
        margin: 0;
    }

    .content-section__header {
        margin-right: 0;
    }
}

/*media queries - gallery section*/
@media (min-width: 320px) and (max-width: 375px) {
    .gallery {
        display: flex;
        flex-flow: column;
        align-items: center;
        margin: 0;
    }

    .gallery__item {
        margin-bottom: 10px;;
    }

    .gallery__image {
        width: 300px;
    }
}

@media (min-width: 376px) and (max-width: 599px) {
    .gallery {
        display: flex;
        flex-flow: column;
        align-items: center;
        margin: 0;
    }

    .gallery__item {
        margin-bottom: 10px;;
    }

    .gallery__image {
        width: 350px;
    }
}

@media (min-width: 500px) and (max-width: 599px) {
    #photos {
        margin-top: 40px;
    }

    .gallery__image {
        width: 400px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    #photos {
        margin-top: 40px;
    }

    .gallery {
        display: flex;
        flex-flow: column;
        align-items: center;
        margin: 0;
    }

    .gallery__item {
        margin-bottom: 10px;;
    }

    .gallery__image {
        width: 500px;
    }
}

@media (min-width: 769px) and (max-width: 868px) {
    #photos {
        margin-top: 40px;
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(3, minmax(150px, 300px));
        justify-content: end;
        margin-left: 20px;
        grid-gap: 10px;
    }
    
    .gallery__image {
        width: 150px;
        border-top: 3px solid #ef008e;
        margin: 0;
    }

    .content-section__header {
        margin-right: 0;
    }
}

@media (min-width: 869px) and (max-width: 1024px) {
    #photos {
        margin-top: 40px;
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(3, minmax(200px, 300px));
        justify-content: end;
        margin-left: 20px;
        grid-gap: 10px;
    }
    
    .gallery__image {
        width: 200px;
        border-top: 3px solid #ef008e;
        margin: 0;
    }

    .content-section__header {
        margin-right: 0;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {

    .gallery {
        display: grid;
        grid-template-columns: repeat(3, minmax(200px, 300px));
        justify-content: end;
        margin-left: 20px;
        grid-gap: 20px;
    }
    
    .gallery__image {
        width: 200px;
        border-top: 3px solid #ef008e;
        margin: 0;
    }

    .content-section__header {
        margin-right: 0;
    }
}

/*contact section*/
#contact {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 275px));
    grid-template-rows: repeat(3, 150px);
    justify-content: end;
    height: 100vh;
}

.content-section__header {
    grid-column: 4 / 4;
}

.gallery__image.band__image {
    border-top: none;
    grid-column: 1 / 1;
    grid-row: 2 / 2;
    width: 480px;
}

.contact__address {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
    justify-self: start;
    align-self: center;
    text-align: left;
    font-style: normal;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1.5px;
    color: #DBD8FB;
    opacity: 0.8

}

.form {
    margin-top: 50px;
    grid-column: 1 / 1;
    grid-row: 4 / 4;
}

.form__label {
    font-size: 13px;
    font-weight: 600;
    color: #DBD8FB;
    letter-spacing: 1.5px;
    margin-top: 10px;
    float: left;
    opacity: 0.8
}

.form__input {
    margin-top: 10px;
    width: 300px;
    background:rgba(204, 200, 255, 0.1);
    border: none;    
    border-radius: 2px;
    padding: 8px;
    font-size: 13px;
    outline: none;
}

.form__label:after {
    content: "";
    display: block;
    clear: both;
}

.form__button {
    margin-top: 20px;
    float: left;
}

/*media-queries - contact section*/
@media (min-width: 320px) and (max-width: 375px) {
    #contact {
        display: flex;
        flex-flow: column;
        align-items: center;
        margin-top: 40px;
    }

    #contact > .gallery__image {
        width: 300px;
    }

    .contact__address {
        display: flex;
        margin-top: 40px;
    }

    .form {
        display: flex;
        flex-flow: column;
    }

    .form__label {
        display: block;
        float: none;
        text-align: left;
    }

    .form__input {
        width: 300px;
    }
}

@media (min-width: 376px) and (max-width: 599px) {
    #contact {
        display: flex;
        flex-flow: column;
        align-items: center;
        margin-top: 40px;
    }

    #contact > .gallery__image {
        width: 350px;
    }

    .contact__address {
        display: flex;
        margin-top: 40px;
    }

    .form {
        display: flex;
        flex-flow: column;
    }

    .form__label {
        display: block;
        float: none;
        text-align: left;
    }

    .form__input {
        width: 350px;
    }
}

@media (min-width: 500px) and (max-width: 599px) {
    #contact > .gallery__image {
        width: 400px;
    }

    .form__input {
        width: 400px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    #contact {
        display: flex;
        flex-flow: column;
        align-items: center;
        margin-top: 40px;
    }

    #contact > .gallery__image {
        width: 500px;
    }

    .contact__address {
        display: flex;
        margin-top: 40px;
    }

    .form {
        display: flex;
        flex-flow: column;
    }

    .form__label {
        display: block;
        float: none;
        text-align: left;
    }

    .form__input {
        width: 500px;
    }

}

@media (min-width: 769px) and (max-width: 868px) {
    #contact {
        display: grid;
        grid-template-columns: repeat(3, minmax(200px, 250px));
        grid-template-rows: repeat(3, 150px);
        justify-content: end;
        height: 80vh;
    }
    
    .content-section__header {
        grid-row: 1 / 1;
        grid-column: 4 / 4;
    }
    
    .gallery__image.band__image {
        border-top: none;
        grid-column: 2 / 2;
        grid-row: 2 / 2;
        width: 240px;
        margin-left: 20px;
    }
    
    .contact__address {
        grid-column: 4 / 4;
        grid-row: 1 / 4;
        align-self: center;
        justify-content: end;
        font-style: normal;
        font-size: .6rem;
        font-weight: 600;
        letter-spacing: 1.5px;
        color: #DBD8FB;
        opacity: 0.8;
    }
    
    .form {
        margin-top: 30px;
        grid-column: 2 / 2;
        grid-row: 3/ 3;
        margin-left: 20px;
    }
    
    .form__label {
        font-size: .6rem;
        font-weight: 600;
        color: #DBD8FB;
        letter-spacing: .1rem;
        margin-top: 10px;
        float: left;
        opacity: 0.8
    }
    
    .form__input {
        margin-top: 10px;
        width: 240px;
        background:rgba(204, 200, 255, 0.1);
        border: none;    
        border-radius: 2px;
        padding: 8px;
        font-size: 13px;
        outline: none;
    }
    
    .form__label:after {
        content: "";
        display: block;
        clear: both;
    }
    
    .form__button {
        margin-top: 20px;
        float: left;
    }
}

@media (min-width: 869px) and (max-width: 1024px) {
    #contact {
        display: grid;
        grid-template-columns: repeat(3, minmax(240px, 260px));
        grid-template-rows: repeat(3, 150px);
        justify-content: end;
        height: 90vh;
    }
    
    .content-section__header {
        grid-row: 1 / 1;
        grid-column: 4 / 4;
    }
    
    .gallery__image.band__image {
        border-top: none;
        grid-column: 2 / 3;
        grid-row: 2 / 2;
        width: 350px;
    }
    
    .contact__address {
        grid-column: 4 / 4;
        grid-row: 1 / 4;
        align-self: center;
        justify-content: end;
        font-style: normal;
        margin-top: 70px;
        font-size: .7rem;
        font-weight: 600;
        letter-spacing: 1.5px;
        color: #DBD8FB;
        opacity: 0.8;
    }
    
    .form {
        grid-column: 2 / 2;
        grid-row: 3 / 3;
        margin-top: 100px;
    }
    
    .form__label {
        font-size: .6rem;
        font-weight: 600;
        color: #DBD8FB;
        letter-spacing: .1rem;
        margin-top: 10px;
        float: left;
        opacity: 0.8
    }
    
    .form__input {
        margin-top: 10px;
        width: 350px;
        background:rgba(204, 200, 255, 0.1);
        border: none;    
        border-radius: 2px;
        padding: 8px;
        font-size: 13px;
        outline: none;
    }
    
    .form__label:after {
        content: "";
        display: block;
        clear: both;
    }
    
    .form__button {
        margin-top: 20px;
        float: left;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    #contact {
        display: grid;
        grid-template-columns: repeat(3, minmax(240px, 260px));
        grid-template-rows: repeat(3, 150px);
        justify-content: end;
        margin-top: 40px;
        height: 90vh;
    }
    
    .content-section__header {
        grid-row: 1 / 1;
        grid-column: 4 / 4;
    }
    
    .gallery__image.band__image {
        border-top: none;
        grid-column: 2 / 3;
        grid-row: 2 / 2;
        width: 350px;
    }
    
    .contact__address {
        grid-column: 4 / 4;
        grid-row: 1 / 4;
        align-self: center;
        justify-content: end;
        font-style: normal;
        margin-top: 70px;
        font-size: .7rem;
        font-weight: 600;
        letter-spacing: 1.5px;
        color: #DBD8FB;
        opacity: 0.8;
    }
    
    .form {
        grid-column: 2 / 2;
        grid-row: 3 / 3;
        margin-top: 100px;
    }
    
    .form__label {
        font-size: .6rem;
        font-weight: 600;
        color: #DBD8FB;
        letter-spacing: .1rem;
        margin-top: 10px;
        float: left;
        opacity: 0.8
    }
    
    .form__input {
        margin-top: 10px;
        width: 350px;
        background:rgba(204, 200, 255, 0.1);
        border: none;    
        border-radius: 2px;
        padding: 8px;
        font-size: 13px;
        outline: none;
    }
    
    .form__label:after {
        content: "";
        display: block;
        clear: both;
    }
    
    .form__button {
        margin-top: 20px;
        float: left;
    }
}

/*footer styles*/
.social-links__icon {
    width: 30px;
    opacity: .8;
}

.social-links__link:link {
    opacity: .8;
}

.social-links__link:visited {
    opacity: .1;
}

.social-links__link:active {
    opacity: .6;
}

.social-links__link:hover,
.social-links__link:focus {
    opacity: 1;
}

/*media-queries - footer section*/
@media (min-width: 320px) and (max-width: 375px) {
    .social-links {
        margin: 50px 0;
    }

    .social-links {
        display: flex;
        justify-content: space-around;
        
    }
}

@media (min-width: 376px) and (max-width: 599px) {
    .social-links {
        margin: 50px 0;
    }

    .social-links {
        display: flex;
        justify-content: space-around;
        
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .social-links {
        margin: 50px 0;
    }

    .social-links {
        display: flex;
        justify-content: space-around;
        
    }
}

@media (min-width: 769px) and (max-width: 1024px) {

    .social-links__icon {
        width: 20px;
        opacity: .8;
    }
}
